* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Stack Sans Notch", sans-serif;
}

main {
  height: 100vh;
  width: 100%;
  background-color: black;
}
main .elements {
  height: 100%;
  width: 100%;
  background-color: #1B3C53;
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 2vh 2vw;
  position: absolute;
}
main .elements .elems {
  height: 350px;
  width: 300px;
  background-color: black;
  border-radius: 15px;
  display: flex;
  align-items: end;
  justify-content: end;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
main .elements .elems p {
  font-size: 26px;
  font-weight: 400;
  color: white;
  padding: 1vh 1vw;
  mix-blend-mode: difference;
  font-family: "Stack Sans Notch", sans-serif;
}
main .elements #daily_planner {
  background-image: url("https://i.pinimg.com/736x/f6/3e/2b/f63e2b644a9f5bc50470698d1b67fd13.jpg");
  background-position: center;
  background-size: cover;
}
main .elements #pomodoro {
  background-image: url("https://i.pinimg.com/736x/63/86/58/6386580a5686f7716ee74badc450e951.jpg");
  background-position: center;
  background-size: cover;
}
main .elements #todolist {
  background-image: url("https://i.pinimg.com/736x/24/51/50/245150d3136728d71bd7da2f2ecf915c.jpg");
  background-position: center;
  background-size: cover;
}
main .elements #quotes {
  background-image: url("https://i.pinimg.com/736x/1f/c4/b4/1fc4b4c9b7ceb3bfecdb12dea94240f8.jpg");
  background-size: cover;
  background-position: center;
}
main .elements #daily_goals {
  background-image: url("https://i.pinimg.com/736x/e2/ea/84/e2ea84bc638b1720dcff55b5686b639f.jpg");
  background-position: center;
  background-size: cover;
}
main .elements .elems:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
main .elem_expand .elem_exp_view {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
  font-size: 100px;
  background-color: #1B3C53;
  color: white;
}
main .elem_expand .elem_exp_view .back {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 14px;
  font-size: 30px;
  border-radius: 50%;
  background-color: #E3E3E3;
  color: #2b4152;
  cursor: pointer;
  font-family: "Stack Sans Notch", sans-serif;
}
main .elem_expand .elem_exp_view .back:active {
  scale: 0.95;
}

.elem_expand #headings {
  font-size: 44px;
  color: #E3E3E3;
  font-family: "Stack Sans Notch", sans-serif;
  text-align: center;
  padding-top: 20px;
}
.elem_expand #TOdoExpandView .ToDoContainer {
  margin-top: 80px;
  width: 80%;
  height: 70vh;
  display: block;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.elem_expand #TOdoExpandView .ToDoContainer .addTask {
  border-radius: 15px;
  height: 100%;
  width: 32%;
  background-color: #456882;
  display: flex;
  flex-direction: column;
  font-family: "Stack Sans Notch", sans-serif;
}
.elem_expand #TOdoExpandView .ToDoContainer .addTask input {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  outline: none;
  text-align: center;
}
.elem_expand #TOdoExpandView .ToDoContainer .addTask textarea {
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  outline: none;
  height: 150px;
  text-align: center;
}
.elem_expand #TOdoExpandView .ToDoContainer .addTask .addBtn {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  background-color: #234C6A;
  color: white;
  cursor: pointer;
}
.elem_expand #TOdoExpandView .ToDoContainer .addTask .addBtn:active {
  scale: 0.95;
}
.elem_expand #TOdoExpandView .ToDoContainer .allTask {
  border-radius: 15px;
  height: 100%;
  width: 66%;
  background-color: #456882;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elem_expand #TOdoExpandView .ToDoContainer .allTask #tasks {
  height: 15%;
  width: 95%;
  border-radius: 10px;
  border: none;
  background-color: #234C6A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}
.elem_expand #TOdoExpandView .ToDoContainer .allTask #taskName {
  font-size: 24px;
  padding-top: none;
}
.elem_expand #TOdoExpandView .ToDoContainer .allTask #markDone {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #47dd7c;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */