* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Stack Sans Notch", sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    background-color: black;

    .elements {
        height: 100%;
        width: 100%;
        background-color: #1B3C53;
        display: flex;
        justify-content: center;
        gap: 2vw;
        padding: 2vh 2vw;
        position: absolute;


        .elems {
            height: 350px;
            width: 300px;
            background-color: black;
            border-radius: 15px;
            display: flex;
            align-items: end;
            justify-content: end;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

            p {
                font-size: 26px;
                font-weight: 400;
                color: white;
                padding: 1vh 1vw;
                mix-blend-mode: difference;
                font-family: "Stack Sans Notch", sans-serif;
            }
        }

        #daily_planner {
            background-image: url("https://i.pinimg.com/736x/f6/3e/2b/f63e2b644a9f5bc50470698d1b67fd13.jpg");
            background-position: center;
            background-size: cover;
        }

        #pomodoro {
            background-image: url("https://i.pinimg.com/736x/63/86/58/6386580a5686f7716ee74badc450e951.jpg");
            background-position: center;
            background-size: cover;
        }

        #todolist {
            background-image: url("https://i.pinimg.com/736x/24/51/50/245150d3136728d71bd7da2f2ecf915c.jpg");
            background-position: center;
            background-size: cover;
        }

        #quotes {
            background-image: url("https://i.pinimg.com/736x/1f/c4/b4/1fc4b4c9b7ceb3bfecdb12dea94240f8.jpg");
            background-size: cover;
            background-position: center
        }

        #daily_goals {
            background-image: url("https://i.pinimg.com/736x/e2/ea/84/e2ea84bc638b1720dcff55b5686b639f.jpg");
            background-position: center;
            background-size: cover;
        }

        .elems:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }

    .elem_expand {

        .elem_exp_view {
            position: absolute;

            height: 100vh;
            width: 100%;
            display: none;
            font-size: 100px;
            background-color: #1B3C53;
            color: white;

            .back {
                position: absolute;
                top: 20px;
                left: 20px;
                padding: 10px 14px;
                font-size: 30px;
                border-radius: 50%;
                background-color: #E3E3E3;
                color: #2b4152;
                cursor: pointer;
                font-family: "Stack Sans Notch", sans-serif;
            }

            .back:active {
                transform: scale(0.95);
            }
        }
    }
}

.elem_expand {
    h2 {
        font-size: 44px;
        color: #E3E3E3;
        font-family: "Stack Sans Notch", sans-serif;
        text-align: center;
        padding-top: 20px;
    }

    #DailyPlannerExpandView {}

    #TOdoExpandView {
        .ToDoContainer {
            margin-top: 80px;
            width: 80%;
            height: 70vh;
            display: block;
            background-color: #234C6A;
            border-radius: 15px;
            margin-left: auto;
            margin-right: auto;
            display: flex;

            .addTask {
                height: 100%;
                width: 40%;
                background-color: blue;
            }

            .allTask {
                height: 100%;
                width: 60%;
                background-color: green;
            }
        }
    }
}