* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {

img{
    cursor: pointer;
}

    height: 100vh;
    width: 100%;

    .Window {
        height: 100vh;
        width: 100%;

        .bg {
            height: 100%;
            width: 100%;
            background-image: url("https://i.pinimg.com/1200x/85/fe/40/85fe40b0f29481e26fa0666bb5087781.jpg");
            background-size: cover;
        }

        .taskbar {
            height: 6%;
            width: 100%;
            position: absolute;
            top: 94%;
            background-color: rgba(29, 29, 29, 0.636);
        }
    }
}

.taskbar {
    display: flex;
    align-items: center;
    justify-content: center;

    .bg {
        height: 100%;
        width: 100%;

        .apps {
            height: 100%;
            width: 10%;
            background-color: red;
        }
    }

    .taskbar_parts {
        height: 100%;
        width: 33.3%;
    }

    #taskbar_left {
        // background-color: rebeccapurple;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0vh 2.5vh;
        gap: 20px;

        img{
            height: 40px;
            width: 40px;
        }
    }

    #taskbar_mid {
        // background-color: rgb(38, 131, 193);

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vh 2.5vh;
        gap: 20px;

        img{
            height: 35px;
            width: 35px;
        }
    }

    #taskbar_right {
        // background-color: rgb(76, 132, 20);
                display: flex;
        align-items: center;
        justify-content: right;
        padding: 0vh 2.5vh;
        gap: 20px;

        img{
            height: 40px;
            width: 40px;
        }

        p{
            color: white;
            text-align: center;
            font-size: 12px;
        }

        i{
            font-size: 15px;
        }
    }
}

.Window{
    .apps{
        height: 100%;
        width: 10%;
        padding: 2vh 2vw;
    }

    .exe{
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }
}

.app-window {
    position: absolute;
    top: 120px;
    left: 200px;
    width: 600px;
    height: 400px;
    background: #111;
    border: 1px solid #333;
    color: #fff;
}

.window-header {
    height: 32px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    cursor: move;
}

.window-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.window-content {
    height: calc(100% - 32px);
    background: #000;
}
